{% extends 'teme/base.html' %}
{% load teme_extras %}

{% block content %}
<div class="search-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="title">Cauta un curs / profesor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <form class="search-form">
                    <input class="form-control float-left" type="text" name="search" placeholder="Scrie aici numele cursului / profesorului" autocomplete="off">
                    <button type="submit" class="btn btn-default float-left">Cauta</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="content" class="col-md-9">
            <div class="row">
                <h2 class="col-xs-12">Cursuri</h2>
            </div>

            <div class="row">
                {% for course in courses %}
                <div class="col-xs-12 col-sm-4">
                    <div class="curs-item thumbnail">
                        <div class="title">
                            <a href="#"><i class="fa fa-file-text-o"></i>{{ course.name }}</a>
                        </div> <!-- ./title -->
                        <div class="description">
                            <p><b>Profesor</b>: {{ course.teacher }}</p>
                            <div class="ratings">
                                <div class="pull-right">{{ course.rating_count }} ratings</div>
                                {% get_stars course.rating %}
                            </div> <!-- ./ratings -->
                        </div> <!-- ./description -->
                    </div> <!-- ./curs-item thumbnail -->
                </div> <!-- ./col-xs-12 col-sm-4 -->
                {% endfor %}
            </div>
        </div> <!-- ./content -->
    </div> <!-- ./row -->
</div> <!-- ./container -->
{% endblock %}
