{% extends 'teme/base.html' %}
{% load teme_extras %}

{% block content %}
<div class="search-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="title">Cauta un curs / profesor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <form class="search-form">
                    <input class="form-control float-left" type="text" name="search" placeholder="Scrie aici numele cursului / profesorului" autocomplete="off">
                    <button type="submit" class="btn btn-default float-left">Cauta</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="content" class="col-md-9">
            <div class="row margin-top">
                <h2 class="col-xs-12">Profesori</h2>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="profs table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th data-field="id">#</th>
                                <th data-field="name">Nume</th>
                                <th data-field="lectures">Cursuri</th>
                                <th data-field="rating">Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ teacher.name }}</td>
                                <td>{{ teacher.courses }}</td>
                                <td>{% get_stars teacher.rating %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- ./table-responsive -->
            </div> <!-- ./row -->
        </div> <!-- ./content -->
    </div> <!-- ./row -->
</div> <!-- ./container -->
{% endblock %}
